@import "../node_modules/bootstrap/scss/bootstrap-grid";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #181818;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.container {
    max-width: 100%;
}

.container-random-article {
    width: 72rem;
    .random-article {
        max-width: 450px;
        max-height: 450px;
        .random-article-img {
            max-width: 350px;
            max-height: 350px;
        }
    }
}
.container-article {
    width: 70rem;
}

.ms-adding-article {
    margin-left: ($spacer * 46) !important;
}
.ms-profile {
    margin-left: ($spacer * 28) !important;
}
.ms-login {
    margin-left: ($spacer * 22) !important;
}
.ms-reply {
    margin-left: ($spacer * 6) !important;
}
.ms-reply-user {
    margin-left: ($spacer * 4) !important;
}
.me-reply {
    margin-right: ($spacer * 6) !important;
}
.ms-6 {
    margin-left: ($spacer * 22) !important;
}
.mt-register {
    margin-top: ($spacer * 6) !important;
}
.mt-home {
    margin-top: ($spacer * 4.7) !important;
}
.mt-6 {
    margin-top: ($spacer * 11) !important;
}
.mt-user-articles {
    margin-top: ($spacer * 8) !important;
}

.btn-like {
    display: none;
}

.myHr {
    border: 1px solid black;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.title {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 15px;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 100;
    transform: scale(0);
    transition: 0.5s;
    border-radius: 5px;
    .modal__content {
        position: sticky;
        top: 20%;
        left: auto;
        padding: 20px;
        border-radius: 12px;
        background-color: #212529;
        height: 200px;
        width: 400px;
        transform: scale(0.5);
        transition: 0.4s all;
    }
    .modal__content.active {
        transform: scale(1);
    }
}
.modal.active {
    transform: scale(1);
}

.facebook-btn {
    height: 50px;
    width: 50px;
    color: #1877f2;
    background: #f8f9fa;
    border-radius: 25px;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}
.facebook-btn:hover {
    height: 45px;
    width: 45px;
    transition: 0.3s ease-in-out;
}
.twitter-btn {
    height: 50px;
    width: 50px;
    color: #1da1f2;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}
.twitter-btn:hover {
    height: 45px;
    width: 45px;
    transition: 0.3s ease-in-out;
}
.pinterest-btn {
    height: 50px;
    width: 50px;
    color: #e60023;
    transition: 0.3s ease-in-out;
}
.pinterest-btn:hover {
    height: 45px;
    width: 45px;
    transition: 0.3s ease-in-out;
}

.search-box-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    max-width: 100%;
    .search-box {
        position: fixed;
        top: -3px;
        left: 70%;
        transform: translate(-50%, 50%);
        background: #2f3640;
        height: 40px;
        border-radius: 40px;
        z-index: 100;
        .search-btn {
            color: #1da1f3;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #2f3640;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .search-query {
            border: none;
            background: none;
            outline: none;
            float: left;
            color: white;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            padding-left: 15px;
            width: 0px;
        }
    }
}
.search-box-bg:hover > .search-box .search-query {
    width: 240px;
    padding: 0 6px;
}

.search-box-user-articles-bg {
    position: fixed;
    top: 6%;
    left: 29%;
    height: 55px;
    width: 100%;
    .search-box-user-articles {
        position: fixed;
        top: 5.7%;
        left: 75%;
        transform: translate(-50%, 50%);
        background: #2f3640;
        height: 40px;
        border-radius: 40px;
        .search-btn-user-articles {
            color: #1da1f3;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #2f3640;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .search-query-user-articles {
            border: none;
            background: none;
            outline: none;
            float: left;
            color: white;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            padding-left: 15px;
            width: 0px;
        }
    }
}
.search-box-user-articles-bg:hover
    > .search-box-user-articles
    .search-query-user-articles {
    width: 240px;
    padding: 0 6px;
}

.invalid-feedback-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--bs-danger-text);
}

@media screen and (max-width: 1900px) {
    .user-card {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 970px;
        .user-card {
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 750px;
        .search-box-bg {
            max-width: 750px;
            .search-box {
                left: 60%;
            }
        }
        .container-random-article {
            max-width: 750px;
            .random-article {
                position: relative;
                left: 0;
                max-width: 350px;
                max-height: 350px;
                .random-article-img {
                    max-width: 250px;
                    max-height: 250px;
                }
            }
        }
        .container-article {
            max-width: 54rem;
            position: absolute;
            left: 0;
            top: auto;
        }
        .user-card {
            display: none;
        }
    }
}
@media screen and (max-width: 767px) {
    .container {
        max-width: none;
        .search-box-bg {
            max-width: none;
            .search-box {
                left: 60%;
            }
        }
        .container-random-article {
            width: none;
            .random-article {
                position: relative;
                left: 10px;
                max-width: 250px;
                max-height: 250px;
                .random-article-img {
                    max-width: 150px;
                    max-height: 150px;
                }
            }
        }
        .container-article {
            width: 44rem;
            position: absolute;
            left: 50px;
            top: auto;
        }
        .user-card {
            display: none;
        }
    }
}
