@import "../node_modules/bootstrap/scss/bootstrap-grid";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #181818;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.ms-adding-article {
    margin-left: ($spacer * 46) !important;
}
.ms-profile {
    margin-left: ($spacer * 28) !important;
}
.ms-login {
    margin-left: ($spacer * 22) !important;
}
.ms-6 {
    margin-left: ($spacer * 22) !important;
}
.mt-register {
    margin-top: ($spacer * 6) !important;
}
.mt-6 {
    margin-top: ($spacer * 11) !important;
}

.btn-like {
    display: none;
}

.myHr {
    border: 1px solid black;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.title {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 15px;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 100;
    transform: scale(0);
    transition: 0.5s;
    border-radius: 5px;
    .modal__content {
        position: sticky;
        top: 20%;
        left: auto;
        padding: 20px;
        border-radius: 12px;
        background-color: #212529;
        height: 200px;
        width: 400px;
        transform: scale(0.5);
        transition: 0.4s all;
    }
    .modal__content.active {
        transform: scale(1);
    }
}
.modal.active {
    transform: scale(1);
}

.facebook-btn {
    height: 50px;
    width: 50px;
    color: #1877f2;
    background: #f8f9fa;
    border-radius: 25px;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}
.facebook-btn:hover {
    height: 45px;
    width: 45px;
    transition: 0.3s ease-in-out;
}
.twitter-btn {
    height: 50px;
    width: 50px;
    color: #1da1f2;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}
.twitter-btn:hover {
    height: 45px;
    width: 45px;
    transition: 0.3s ease-in-out;
}
.pinterest-btn {
    height: 50px;
    width: 50px;
    color: #e60023;
    transition: 0.3s ease-in-out;
}
.pinterest-btn:hover {
    height: 45px;
    width: 45px;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1900px) {
    .user-card {
        display: none;
    }
}
