@import "../node_modules/bootstrap/scss/bootstrap-grid";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #181818;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.ms-profile {
    margin-left: ($spacer * 28) !important;
}
.ms-login {
    margin-left: ($spacer * 22) !important;
}
.ms-6 {
    margin-left: ($spacer * 22) !important;
}
.mt-register {
    margin-top: ($spacer * 6) !important;
}
.mt-6 {
    margin-top: ($spacer * 11) !important;
}

.myHr {
    border: 1px solid black;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1900px) {
    .user-card {
        display: none;
    }
}
